[2014-09-08 13:07] emersonf opened #1 "Add Microsoft HealthVault setup instructions"
The project doesn't build unless the MS HealthVault libraries are installed. The documentation should be updated accordingly.

[2014-09-08 13:26] emersonf opened #2 "Fix logback configuration to prevent warnings on server start"
The following warnings are causing logback to spit out debug information when the shim server starts up.

[code]

[2014-09-08 14:56] #1 closed, assigned to emersonf

[2014-09-08 17:17] emersonf opened #3 "RunKeeper timestamps need to be converted to UTC"
The data coming from the RunKeeper API is in the local timezone of the user, not in UTC. A bike ride I went on in CEST (UTC+2) has this raw data

[code]

and this normalised physical activity

[code]

[2014-09-09 20:32] emersonf opened #4 "Activity effective_time_frame doesn't match schema"
The `physical-activity-1.0.json` schema uses `time-interval-1.0.json` for the `effective_time_frame` property, but the code is using `TimeFrame`. We need to reconcile these, until we figure out if these can all be timeframes.

The `ActivityBuilderTest` has been temporarily `@Ignore`d to allow builds to complete.

[2014-09-10 11:41] emersonf opened #5 "Add Docker support"
A user has to currently jump through hoops, especially with HealthVault to get the shim server up and running. A Dockerfile that automates the setup process and provides isolation from a host system would help.

[2014-09-16 08:48] #5 closed, assigned to emersonf

[2014-09-16 08:52] emersonf opened #6 "Add a Java 7 JRE Docker image to Docker Hub"
This will serve as a base image for a leaner shim server container.

[2014-09-16 09:07] emersonf opened #7 "Harmonise Maven and Gradle build files"
pom.xml and build.gradle should both be on the same Spring Boot version and pulling in the same dependencies.

[2014-09-16 09:08] #2 closed, assigned to nobody

[2014-09-16 09:54] #7 closed, assigned to emersonf

[2014-09-16 10:12] emersonf opened #8 "Date picker doesn't work in shim server UI"
Nothing happens when clicking the calendar icon. Tested in Chrome and Safari on OS X.

[2014-09-18 13:12] emersonf opened #9 "effective_time_frame includes both date_time and time_interval"
This is happening in the RunKeeper shim. The [schema](http://www.openmhealth.org/developers/schemas/#time-frame) only allows one of the two fields.

[code]

[2014-09-18 15:10] #4 closed, assigned to danilobonilla

[2014-09-18 19:08] emersonf opened #10 "Calendar rendering is broken by missing stylesheet."
![screen shot 2014-09-18 at 21 03 55](https://cloud.githubusercontent.com/assets/834831/4325630/2029eac6-3f67-11e4-8737-40baf004ebda.png)

[2014-09-18 19:40] #8 closed, assigned to danilobonilla

[2014-09-18 19:41] #6 closed, assigned to emersonf

[2014-09-18 19:41] #10 closed, assigned to danilobonilla

[2014-10-20 02:42] noranda opened #11 "Fitbit Steps Intraday missing for non-Partner API calls"
The response from the [Fitbit steps](https://wiki.fitbit.com/display/API/API-Get-Intraday-Time-Series) API cannot be normalized into the Open mHealth schema when using the Fitbit API with a non-Partner API access token.

The response from Fitbit looks like this for me:

[code]

However, the [FitbitShim.java#L340](https://github.com/openmhealth/omh-shims/blob/master/shim-server/src/main/java/org/op

[2014-11-05 20:04] awan1 opened #12 "Fitbit normalized option for steps leads to NullPointerException"
I am running an instance of the shim server using Option 1 (Docker installation). The server UI is working (I can access it with http://<host IP>:<port>), I have successfully authenticated my app and fitbit through the website, and I can retrieve data through the UI and the command line.

However, I get an error on both the UI and the command line when trying to access normalized step data. The UI

[2014-11-07 15:15] #11 closed, assigned to danilobonilla

[2014-11-07 15:16] #12 closed, assigned to emersonf

[2014-11-07 15:25] #9 closed, assigned to danilobonilla

[2014-11-14 21:09] #3 closed, assigned to nobody

[2014-12-01 18:21] emersonf opened #14 "Improve shim server UI buttons to make it more intuitive"
"the screen to create new users is a tad unintuitive. The text box placeholder text ‘Enter a unique identifier’ in conjunction with a button reading ‘Find’ left me a bit confused. I would expect it to mention adding a new user, etc."

We could also add copy to clarify what the text box and button do.

[2014-12-14 16:41] emersonf opened #15 "Remove Maven POM files, leaving Gradle as the only build system"
Having two build systems adds complexity. Since the Gradle wrapper can download Gradle for anyone who doesn't have it, and since Gradle is [gaining adoption](http://www.thoughtworks.com/radar/tools/gradle) and is more flexible, we should drop Maven.

[2014-12-14 23:21] #15 closed, assigned to emersonf

[2015-06-05 21:24] nosh opened #21 "Withings shim - not returning entire dataset for time range"
If I submit a query as follows:

`http://shimserver:8083/data/withings/body?username=nosh&dateStart=2015-01-01&dateEnd=2015-05-15&normalize=true`

I should get all readings from Jan 1, 2015 to May 15, 2015. However, I seem to get readings than span only about 2 months

If I then submit the query

`http://shimserver:8083/data/withings/body?username=nosh&dateStart=2015-01-01&dateEnd=2015-02-15&norma

[2015-06-11 17:19] jaredsieling opened #22 "Healthvault lib zip file curl is broken, if building your own Docker image"
If you are building your own docker image (option 3), line 35 of the Dockerfile uses curl to fetch the Healthvault Java Lib.  However, the URL is no longer valid, and returns an HTML file sending you to:

http://healthvaultjavalib.codeplex.com/downloads/get/878881

If you try the curl to that address, it still fails.  A similar issue was discussed [here](https://groups.google.com/d/msg/chocolatey/

[2015-06-11 18:50] emersonf commented on #22
Thanks for the heads up @jaredsieling. It looks like MS released a new internal build, so I've updated the HealthVault library link and it should work again.

On a related note, since we wrote those Docker instructions, we've become more proficient with Docker and Docker Compose (previously called Fig) has been gaining ground. We're looking into simplifying deployments using Compose, so I'm curiou

[2015-06-11 19:52] jaredsieling commented on #22
Thanks. We've made some updates to the shim code for our purposes and added another API, so I am packaging it with those updates.  A straightforward Compose build would be great, and I actually was looking into that myself. It would be great to connect about that, or if you have an early alpha version of that you could make that available.

[2015-06-29 21:31] ascooper57 opened #23 "grunt build Loading "Gruntfile.js" tasks...ERROR >> TypeError: Cannot read property 'prototype' of undefined"
Option 2. Building from source and running on your host system
...
$ cd shim-server-ui/
$ npm install
npm WARN package.json shim-server-ui@0.2.1 No description
npm WARN package.json shim-server-ui@0.2.1 No repository field.
npm WARN package.json shim-server-ui@0.2.1 No README data
npm WARN deprecated grunt-ngmin@0.0.3: use grunt-ng-annotate instead
npm WARN deprecated ngmin@0.4.1: use ng-annotate

[2015-06-29 21:50] #23 closed

[2015-06-29 22:34] ascooper57 commented on #23
Hello,

I did:
 cd /Users/alan_cooper/Documents/GitHub/AperitasCloud/openmhealth/shimmer
 git pull
 gradle clean install installApp installDist
 cd shim-server-ui
 sudo npm install -g grunt-cli bower
 bower install
 grunt build

$ grunt build
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "build" not found. Use --force to continue.

Aborted due to warnings.

[2015-06-29 22:39] jasperSpeicher commented on #23
Hi @ascooper57  Did you pull in the changes and re-run npm install?

[2015-06-29 22:44] ascooper57 commented on #23
Hello,

You are correct, I needed to re-run npm install before sudo npm install -g grunt-cli bower.
Thank you for resolving the issue.

Alan Cooper

[2015-06-29 22:48] jasperSpeicher commented on #23
No problem, glad it worked out. Thank you for posting the issue here!

[2015-06-30 21:16] jaredsieling opened #24 "Dockerfile still uses maven"
It looks like Maven was abandoned for Gradle only, however, the Dockerfile still uses Maven, which gives an error when building the Docker image.

[2015-07-01 19:00] emersonf commented on #24
Thanks for the bug report. I'll point the Dockerfile to Gradle later today.

In the next iteration, we'll leverage Docker Compose to assemble and link multiple containers instead of trying to shove these different processes into a single one. That would probably deprecate this build option entirely.

[2015-07-07 13:25] emersonf commented on #24
I've updated the Docker build, but it can't get its hands on the HV SDK from CodePlex, and the authors of the SDK haven't released it to Maven Central or jCenter, even though the SDK itself is listed as Apache 2.0. I've reached out to them to see if we can get this sorted out.

Please upvote [this issue](https://healthvaultjavalib.codeplex.com/workitem/17470) to accelerate this.

[2015-09-21 12:16] emersonf commented on #24
We've switched to Docker Compose in 0.3.0.

[2015-09-21 12:16] #24 closed

[2015-09-22 17:22] emersonf commented on #22
Compose builds are available as of 0.3.0, in two flavours. The default `docker-compose.yml` configuration downloads images, whereas the `docker-compose-build.yml` builds the images. When using the latter configuration, we recommend using the convenience script called `run-dockerized.sh` that compiles the code before delegating to Docker Compose.

PS. If you'd like to contribute the API you added,

[2015-09-22 17:22] #22 closed

[2015-09-22 17:24] emersonf commented on #21
Just a quick update that we're actively working on addressing pagination and related issues. Stay tuned.

[2015-09-29 15:02] akoi opened #26 "Shim mappings as separate library"
I'd like to standardise on the OmH schemas for storing certain data points in an application. However, I already have a (scala) service that handles the authentication and connection side of things to various 3rd party data providers.

I've been looking at how to use the mappings from Shimmer to handle the conversions, and it seems that I'd need the `omh-schema-sdk` (already available via maven),

[2015-09-29 21:11] nknyc opened #27 "Supported APIs and endpoints"
Hi,
On this page http://www.openmhealth.org/documentation/#/data-providers/data-provider-api-library/providers/fitbit - you mention the FitBit API Shim schema ID that are supported as follows (SEE ATTACHED IMAGE FITBIT_0) -
![fitbit_0](https://cloud.githubusercontent.com/assets/14896659/10178301/ee2b2f1a-66cc-11e5-91e5-2581aadb892e.jpg)

Available Metrics

Blood glucose omh:blood-glucose:1.0
Blood

[2015-09-29 21:25] schaefba commented on #27
Hi NK,

Thanks for pointing that out. Unfortunately Fitbit has deprecated the blood pressure endpoint on their side, so they no longer support accessing blood pressure information.

It looks like some of the supported schemas for different data providers are out of date on our website, so we'll get them updated as soon as possible to reduce the confusion. The table of supported APIs and endpoints

[2015-09-30 15:31] schaefba commented on #27
We've updated our website to align with the information on Github. Thanks for bringing the discrepancy to our attention.

[2015-09-30 15:31] #27 closed

[2015-09-30 17:44] gcampax opened #28 "What's the security model of shimmer?"
Hello!

I'm trying out shimmer locally, and I noticed that there seems to be no authorization on the /data request: once a the shim-server has acquired the OAuth access token for a given username, it will happily give out data to anyone who requests it.

This is perfectly fine if shimmer is meant to be used behind a closed firewall, so that only the real application server can touch shimmer. But t

[2015-10-02 13:12] emersonf commented on #28
Ciao Giovanni.

Shimmer is not designed to be exposed on the web, because as you said, there are no authorization checks to get data. The resource server is designed to be run within your own infrastructure, and accessed by your backend, in the same way that you'd deploy a database, an email server, or some other subsystem.

But as you said, Shimmer needs to be involved in the OAuth dance with a t

[2015-10-02 14:01] emersonf commented on #26
We intend to split out the shims themselves, which should make it easier for people to create their own shim repositories and include them as Gradle dependencies. We'll likely release that in the next couple of months.

Once that happens, you should be able to pull in the libraries and invoke only the mappers, without pulling in infrastructure. That being said, the mappers aren't enough IMO. Every

[2015-10-06 00:08] gcampax commented on #28
Would it not be easier to just handle the OAuth fully in the frontend, and pass the access token / refresh tokens to shimmer?
Especially in the case of Google, I already have code in the frontend to handle "login with Google", so it does not really help me to have Shimmer handle that part.

[2015-10-07 14:26] emersonf commented on #28
A typical application that uses Shimmer doesn't have any third-party API authorization code of its own, but relies on Shimmer to handle authorization, including getting and refreshing access tokens. If we were to remove that functionality, people would have to implement the authorization from scratch for each API they want to use. Not only does that mean handling different authorization protocols

[2015-10-26 22:08] nosh opened #29 "Inconsistency or bug in authorize endpoint?"
I've noticed an inconsistency in the results that come back from Shimmer's 'authorize' endpoint.
I'm building an device authorization UI in an external app, which is what lead me to discovering this

In my case, I've gone through the oauth flow and authorized two devices/providers:
Jawbone and Fitbit

When I call http://shimmer.xxxxxx.com:8083/authorize/jawbone/?username=tp|0e5fab3f1a
(i.e. get ba

[2015-10-26 23:04] schaefba commented on #29
Thanks for bringing this to our attention. We've looked into it and it appears to be an inconsistency in how OAuth1 and OAuth2 shims respond to requests to the /authorize endpoint.

In the interest of consistency, we will make changes for the OAuth1 shims (Fitbit and Withings) such that they will respond the same as OAuth2 shims. This means that they will **not** initiate a new OAuth exchange, in

[2015-11-21 21:38] gnauhnoj opened #30 "Nothing is returned when Fitbit Activity is requested as Normalized"
Not sure whether anyone else has run into this issue, but when normalized activity data is requested using the Fitbit API, I receive this response:

{
  "shim": "fitbit",
  "timeStamp": 1448141592,
  "body": []
}

This is the only endpoint where I'm having this issue.

[2015-11-22 06:43] schaefba commented on #30
Hi there,

Thanks for raising this issue. We could use a little bit more information about the requests you are submitting and the data you are expecting. What is the request you are submitting to shimmer? What is the date range? And what do you expect to be returned by the request?

If you turn normalization off (requesting raw data) and submit the same request from Fitbit, are there any data poi

[2015-11-22 06:55] gnauhnoj commented on #30
Hey Chris,
Based on your response, I think I misunderstood the normalized version of activity data. When I hit the Fitbit unnormalized endpoint, I see my summary activity information, but (as I don't explicitly record activities) there is nothing in the array. I didn't realize that the normalized mHealth schema only included those explicitly recorded activities -- which is my mistake.

Thanks for

[2015-11-22 06:55] #30 closed

[2015-12-01 09:39] emersonf commented on #28
If you have any other comments, feel free to add them here.

[2015-12-01 09:39] #28 closed

[2015-12-02 13:06] ralphvanetten opened #31 "consider adding an option to build a war"
Hi,

I want to run the shimmer under an existing tomcat server so I would like to have the shimmer available as a war.

I found this: http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/html/build-tool-plugins-gradle-plugin.html#build-tool-plugins-gradle-packaging and http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-create-a-deployable-war-file

I have no ex

[2015-12-02 13:12] emersonf commented on #31
Hi Ralph,

That should be straightforward enough. There's a release around the corner, I'll see if I can squeeze it in.

Thanks for the suggestion,
Emerson

[2015-12-02 13:18] ralphvanetten commented on #31
That would be great!

I've been trying to tinker with the build files using the information from those pages and I've got it working as a war under tomcat. However, with the changes I made, it does not run standalone anymore and I'm not sure what is wrong.

[2015-12-02 13:34] ralphvanetten commented on #31
This is what I did: https://github.com/MEDvision/shimmer/commit/9266c3f5e55e83fb38b579bc8669ed131a345033

It works for creating a war but it breaks the jar with embedded jetty. (It compiles but jetty fails to start with an error)

[2015-12-02 19:04] emersonf commented on #31
We're aiming to get this released next week, was just too tight today.

[2015-12-04 16:18] schaefba commented on #29
This issue has been fixed and released in 85aaebc.

[2015-12-04 16:18] #29 closed

[2015-12-07 09:43] nosh commented on #21
This seems to be working now. I'm able to submit requests for ranges of data and shimmer returns me the expected data for the entire date range e.g.:
http://omh-shimmer.datanosh.com:8083/data/withings/blood_pressure?username=nosh.petigara@gmail.com&dateStart=2015-01-01&dateEnd=2015-12-15&normalize=true

I'm not sure if this is because of some change you did in the shims or some changes in the With

[2015-12-07 10:25] nosh opened #32 "Shimmer making large number of requests to FitBit API?"
I'm making a single request to shimmer for my physical activity data from FitBit. e.g. for the last 6-12 months:
http://omh-shimmer.datanosh.com:8083/data/withings/blood_pressure?username=nosh.petigara@gmail.com&dateStart=2015-01-01&dateEnd=2015-12-15&normalize=true

This should only result in a few (maybe < 100 records). I seem to be frequently getting messages saying that my API limits have been

[2015-12-07 18:21] emersonf commented on #32
Shimmer has to make a large number of requests. The [activity](https://dev.fitbit.com/docs/activity/) endpoints only allow the retrieval of one day's worth of data at a time. Shimmer issues one request per day and composes the result.

We have plans to be aware of rate limit information and fail fast if we determine the number of requests required will exceed a rate limit, but besides that there's

[2015-12-08 00:30] schaefba commented on #21
In release [v0.3.0](https://github.com/openmhealth/shimmer/releases/tag/v0.3.0), we removed the use of the Shimmer limit parameter (`numToReturn`) for body measure requests (see be32363). This had previously limited responses from the body measure endpoint to only 50 data points by default. The limit was not used with other endpoints, since no others support a limit query parameter.

Because the W

[2015-12-08 06:19] nosh commented on #32
Ok - so it seems like that is answer - for physical activity, this is a limitation of the daily activity summary end point, which is required to get the details of the physical activity.

Is it correct to assume that this limitation doesn't impact the step count and other endpoints, since you can use Fitbit's time series and body endpoints which seem to allow data retrieval by larger time ranges?

[2015-12-08 10:29] emersonf commented on #32
The status quo is more complicated, because of two factors. The first is that Shimmer needed significant refactoring to be able to properly support pagination, dynamic request building, and request composition. That work is well underway, and we should release it in January. The second is that the Fitbit API has changed since the Fitbit implementation. We've been holding off making additions until

[2015-12-10 13:14] emersonf opened #33 "Fitbit shim should use range queries for step data"
The `activities/steps` endpoint supports the retrieval of step count data for multiple days, but Shimmer is requesting a day at a time, with repercussions on rate limits and performance.

Shimmer should leverage range queries to optimise the retrieval of step count data.

[2015-12-10 13:15] emersonf opened #34 "Fitbit shim should leverage range queries for BMI data"
The `bod/log/weight` endpoint supports the retrieval of BMI data for multiple days, but Shimmer is requesting a day at a time, with repercussions on rate limits and performance.

Shimmer should leverage range queries to optimise the retrieval of BMI data.

[2015-12-11 05:39] nosh commented on #32
Thanks for the detailed explanation. It's much clearer now!
Glad to see #33 (and #34) on the enhancement list. This is pretty important as it's easy to blow through the fitbit default rate limits with just a few calls to shimmer when looking back through a few months of data, consequently rendering an app effectively useless till the rate limits reset.

Let me know how I can help

[2015-12-22 15:19] emersonf commented on #31
The build now creates a WAR, which can be run both on the command line and in an application server.

If you don't need to use the console or will run it separately, you can just run `./gradlew build` and copy the WAR file out of `shim-server/build/libs` directory. You can use whatever context path you want for the WAR.

If you do need the console and want it deployed inside the same WAR, run the

[2015-12-23 15:31] #21 closed

[2015-12-23 16:17] emersonf commented on #34
This has been fixed in release [0.4.2](https://github.com/openmhealth/shimmer/releases/tag/v0.4.2).

[2015-12-23 16:17] #34 closed

[2015-12-23 16:17] emersonf commented on #33
This has been fixed in release [0.4.2](https://github.com/openmhealth/shimmer/releases/tag/v0.4.2).

[2015-12-23 16:17] #33 closed

[2015-12-23 16:17] emersonf commented on #31
This has been fixed in release [0.4.2](https://github.com/openmhealth/shimmer/releases/tag/v0.4.2).

[2015-12-23 16:17] #31 closed

[2015-12-23 18:08] ralphvanetten commented on #31
cool, thanks!

[2016-01-15 21:02] dchase73 opened #35 "jawbone data not downloading"
I get this error in the pop-up

Sorry, we are unable to process the request.

Error code: invalid_redirect

[2016-01-19 20:39] emersonf commented on #35
This is caused by a misconfiguration of your application on the [Jawbone developer portal]("https://jawbone.com/up/developer").

The authorization sequence goes something like this...

1. Your application calls Shimmer to get an authorization URL for Jawbone.
1. Shimmer returns an authorization URL that contains a redirect URL query parameter like `redirectUrl=http://localhost:8083/authorize/jawbo

[2016-02-01 17:28] hisham commented on #32
@emersonf is the refactoring you mention done?

[2016-02-02 14:34] emersonf commented on #32
Not yet. We have work in progress, but haven't completed it. We'll be
planning some new sprints to carve off pieces of that work, test and
release them in iterations, and I'll make it a point to keep this thread
updated when we have that.
On 1 Feb 2016 12:28 p.m., "hisham" <notifications@github.com> wrote:

[2016-02-06 02:59] hisham commented on #32
Ok thanks @emersonf!

[2016-02-08 02:43] vascoosx commented on #35
I think I read that the Jawbone redirect url **has to be** https.

[2016-02-09 01:16] vascoosx opened #36 "Can not get Fitbit shim working"
Hi, after setting the consumer id and secret I tried to load some data but I got an error:

`2016/02/09 00:57:24 [error] 8#8: *16 open() "/usr/share/nginx/html/styles/images/ui-bg_flat_75_ffffff_40x100.png" failed (2: No such file or directory), client: 192.168.99.1, server: , request: "GET /styles/images/ui-bg_flat_75_ffffff_40x100.png HTTP/1.1", host: "192.168.99.100:8083", referrer: "http://192

[2016-02-09 01:27] emersonf commented on #36
Can you give us more information about your environment please? Did you build from source or are you running Docker containers?

[2016-02-09 04:06] vascoosx commented on #36
I used Docker. The repository is in `865f9aef` which is the latest.
I just did a `docker-compose up -d`

[2016-02-09 04:40] emersonf commented on #36
I've just run Compose to check. While I see that particular console error, it doesn't prevent the containers from starting up, and I have no problem connecting to Fitbit and getting data.

What happens when you try to load data?

[2016-02-09 04:55] vascoosx commented on #36
Nothing happens it stays on the same page, no popups. Where as when I click on Jawbone a window pops up.

[2016-02-09 05:24] emersonf commented on #36
Can you

1. try connecting from an incognito window?
2. send any `docker-compose log` lines that are written when you click the Connect button **removing all sensitive values from the authorization URL**?

[2016-02-09 06:13] vascoosx commented on #36
Did both. Here are the lines. I do not see anything sensitive though.

[code]

[2016-02-09 18:49] schaefba commented on #36
Hey there,

This looks like it might be an issue with client credentials. Now that Fitbit offers both OAuth 1.0 and 2.0, there has been a bit of confusion on which credentials to use since there are multiple values. Shimmer is using OAuth 1.0 for Fitbit, so you would need to use the OAuth 1.0 credentials.

Can you check and make sure that you are using the `Client (Consumer) Key` provided by Fitbi

[2016-02-10 01:00] vascoosx commented on #36
Thanks @schaefba  that fixed it.

[2016-02-10 01:02] #36 closed

[2016-02-19 11:29] steveck-chung opened #37 "Forbidden access while connecting Googlefit with console"
Hi there,
I tried to setup the shim for some experiment and it's placed on AWS as docker. The console looks fine and credential was set, but the authorization process seems failed and the popup dialog showed:
[code]

And [here](https://gist.github.com/steveck-chung/818d4cd0dffdc35d9ced) is the error log from resource server.

Is is possible that the credential was created with incorrect informatio

[2016-02-23 20:11] davidepiazza commented on #35
when running in local docker machine the console is exposed at http://localhost:8083
But Jawbone says in the developer portal that: "You cannot publish your application with HTTP redirect URIs."
How is it possible to test the integration locally?

[2016-02-23 20:37] emersonf commented on #35
The redirect used to hit our Docker containers just fine without TLS, but Jawbone may have made the redirect more restrictive to protect the response code. We'll experiment tomorrow and get back to you with our findings.

[2016-02-23 20:42] davidepiazza opened #38 "Connect Google FIT gives Error: invalid_request device_id and device_name are required for private IP:"
Hi,
working from a local machine when I connect to google fit I get the error:
Error: invalid_request

device_id and device_name are required for private IP: http://192.168.99.101:8083/authorize/googlefit/callback

Am i doing something wrong?
thank you

[2016-02-24 01:36] vascoosx commented on #35
If you are using docker from a non-linux machine, register the container IP instead of localhost. It worked for me.
Check the `redirect_uri` parameter to check the address being used.

[2016-02-25 00:36] schaefba commented on #35
I tested this as well. It works for me by registering the container IP as one of the URLS in the `OAuth redirect URLs` list on the developer portal. They do state that you must use HTTPS, but this is not enforced as far as we can tell.

[2016-02-25 02:45] schaefba commented on #38
Hey there,

This is a known issue when working with Google APIs (see [here](http://stackoverflow.com/questions/24736168/error-invalid-request-device-id-and-device-name-are-required-for-private-ip)). Assuming that you are using docker, I believe most of the workarounds proposed in that post won't work since Shimmer sends the IP as the redirect, instead of a hostname.

If you can run Shimmer nativel

[2016-02-25 04:03] schaefba commented on #37
Hi there, could you provide us a little more detail about when exactly you are receiving the message? Do you see the Google account selection menu? Are you presented with the Google redirect requesting login information?

Do you receive it consistently? Do you receive it for all accounts or only some accounts? Hopefully a little more information can help us figure it out.

[2016-02-25 08:40] davidepiazza commented on #35
Thank you Chris, indeed the https thing is not enforced. I assumed that remaining the jawbone in unpublished status the endpoint would not work, but it is working.
Thanks

[2016-02-25 10:03] emersonf opened #39 "Add TLS support"
Jawbone's [documentation](https://jawbone.com/up/developer/authentication) says

This is not currently enforced, but if it were, it would prevent authorization from working when the redirect URL points directly to a Shimmer container running without TLS. While this shouldn't be a problem in production (since the redirect would point to the application and not directly to Shimmer), it will get in t

[2016-02-25 10:04] emersonf commented on #35
Glad to see this is working. I've added TLS support as a [separate issue](https://github.com/openmhealth/shimmer/issues/39).

[2016-02-25 10:04] #35 closed

[2016-02-25 10:37] StefanoWehmix commented on #38
Hi,
we found a workaround for this problem. During the installation we edited the script "update-compose-files.sh" before running it, replacing the placeholder for the IP ${IP} with a Hostname.

`sed -i ".bak" -e "s,.*OPENMHEALTH_SHIM_SERVER_CALLBACKURLBASE.*,    OPENMHEALTH_SHIM_SERVER_CALLBACKURLBASE: http://wehmixshimmer.com:8083,g" docker-compose.yml
sed -i ".bak" -e "s,.*OPENMHEALTH_SHIM_SERV

[2016-02-25 11:59] emersonf commented on #38
There are a few things going on here.

1. Google wants the redirect URI to use a domain name with a real TLD. The Developer Console shows the following error when setting a redirect URI with an IP address.
*"Invalid Redirect: http://192.168.99.100:8083 must end with a public top-level domain (such as .com or .org)"*
1. The Developer Console does allow `http://localhost:8083`, even though that cont

[2016-03-07 16:32] StefanoWehmix commented on #37
Hello,
I have the same problem. I have created a project in console.developers.google.com and I put Client ID and Client secret in my Shimmer platform. When I try to connect Google fit account to Shimmer the popup with the authorization request is shown but If I click to Allow I have the same error of steveck-chung ("403 Forbidden").
I have tried with different account and different google project

[2016-03-10 07:38] abhishekab commented on #37
I receive the same error , while initiating an authorizing request for a new user. It goes to google account for authorization but as soon as I allow the access, the (403 Forbidden ) error shows up. If I again try to request the authorization for the same user, it doesnt even return an authorization url instead gives 403 error directly.

[2016-03-10 08:03] emersonf commented on #37
Thanks for the information, we'll look into it again today.

I receive the same error , while initiating an authorizing request for a
new user. It goes to google account for authorization but as soon as I
allow the access, the (403 Forbidden ) error shows up. If I again try to
request the authorization for the same user, it doesnt even return an
authorization url instead gives 403 error directly.

[2016-03-10 15:07] emersonf commented on #37
The error you're seeing is Google Fit sending a `403 Forbidden` when Shimmer requests data after an access token is obtained, at least according to that first log file @steveck-chung sent. Since that data retrieval request happens immediately, I was concerned there might be a race condition, but @abhishekab's note that subsequent calls give the same result makes it unlikely that this is a timing i

[2016-03-10 15:27] abhishekab commented on #37
Changing the credentials worked for me. Dunno why. Thanks a lot :)

[2016-03-17 08:15] ralphvanetten opened #40 "externalize application.yml"
It would be nice to be able to have `application.yml` loaded from a (configurable) location in the filesystem.

I know I could set `spring.config.location` but when running the shimmer from tomcat I want to have a different value for each application.

Something like `@PropertySource` looks nice but this does not work with yaml according to the documentation.

As that's about everything I know abo

[2016-03-17 08:32] shridhargune1977 opened #41 "Issue in running locally or on tomcat"
Hi
I am from windows & .Net world so having issues getting this running. I am able to build the code locally and get the "started application" message but when look at http://localhost:8083/
it gives whitelable error page mentioning "There was an unexpected error (type=Not Found, status=404). ". Attaching the log file

I also tried taking the war file created and deploying on tomcat. However got b

[2016-03-18 08:51] emersonf commented on #41
Can you paste the log as a link to a Gist please? We'll investigate whether
there are any obvious dependency issues in the meantime.

Hi
I am from windows & .Net world so having issues getting this running. I am
able to build the code locally and get the "started application" message
but when look at http://localhost:8083/
it gives whitelable error page mentioning "There was an unexpected error
(t

[2016-03-21 09:07] StefanoWehmix opened #42 "Fitbit heart rate API"
Hello,
I don't understand why Shimmer doesn't support Fitbit API of heart rate. It support heart rate call of Google Fit, Withings, Jawbone...
What should I do to add that call?

Thanks

[2016-03-21 13:57] shridhargune1977 commented on #41
Hi
I have created Gist for shimmer.log where in it says application started but  http://localhost:8083/
gives whitelable error page mentioning "There was an unexpected error
(type=Not Found, status=404). "
Also added tomcat log when i deploy WAR file.
Please find below URL:
https://gist.github.com/shridhargune1977/83cefdbbde150d46485b

[2016-03-21 14:04] shridhargune1977 commented on #41
Also please note I have Windows 8, 64 bit OS.

[2016-03-21 15:11] emersonf commented on #42
Fitbit added heart rate support recently, and the shim hasn't been updated yet. We've got an `add-fitbit-oauth2-support` feature branch ready that we'll release in the next week or two, so if you'd like to get started writing mappers for heart rate, I'd submit a pull request against that branch.

Do you have a device that can generate that data for testing purposes?

[2016-03-21 15:47] StefanoWehmix commented on #42
Yes, I have a Fitbit device but I don't understand how to build the Shimmer code and run it natively.
Can you help me?

Thanks

[2016-03-22 12:07] emersonf commented on #42
@StefanoWehmix the [instructions for building and running natively](https://github.com/openmhealth/shimmer#option-2-build-the-code-and-run-it-natively-or-in-docker) are in the main README.

You'd need to read the [heart rate API documentation](https://dev.fitbit.com/docs/heart-rate/) and then add the corresponding Java [mappers](https://github.com/openmhealth/shimmer/tree/master/shim-server/src/ma

[2016-03-22 14:26] StefanoWehmix commented on #42
I think is better if you work on it because I have to understand how to work with the code before.

Thanks

[2016-03-22 15:48] emersonf commented on #42
OK, we aim to release the heart rate mapping next week.

[2016-03-24 12:36] shridhargune1977 commented on #41
Update on the issue -
For native install, I am able to pragmatically authorize and read the data however not able to access console, Same error as mentioned earlier - 404.
Also the WAR deployment issue is still there. Please let me know any pointers.

[2016-03-29 13:28] emersonf commented on #41
re: the native issue, are you following the instructions in the `run-natively.sh` script and translating them to the equivalent Windows commands? Specifically the creation of the symlink to make the console JS available to Jetty? The Docker containers exist to avoid this exact issue, since the problem is environment-specific.

re: the WAR file issue, the JAR file exclusion shouldn't be causing pro

[2016-03-29 13:40] emersonf commented on #40
This should be handled at the Tomcat level by setting the `spring.config.location` property per webapp. Using a different [Tomcat context parameter](http://tomcat.apache.org/tomcat-7.0-doc/config/context.html#Context_Parameters) per webapp should do it.

[2016-03-30 11:20] #37 closed

[2016-03-30 11:21] #38 closed

[2016-04-01 08:55] nileshgamit opened #43 "iHealth shim isn't loading configuration values from YAML file"
We setup shimmer docker image (latest) on AWS. Created iHealth application on sandbox. Added Client ID and Client Secret in "Settings" (UI) and /shimmer/shim-server/src/main/resources/application.yaml updated with SC & SV values.

When requesting to "Connect", it's giving NetworkError: 500 Server Error as below,

[code]

[2016-04-01 09:55] emersonf commented on #43
Please provide the corresponding log files from the Shimmer resouce server, e.g. using `docker-compose logs`. (We also need to improve error reporting, but at least that will help diagnose this.)

[2016-04-01 11:37] rvadavia commented on #43
Hi, here is the log

``
resourceserver_1 | 2016-04-01 11:33:41.118  WARN 5 --- [qtp572946976-20] o.eclipse.jetty.servlet.ServletHandler   :
resourceserver_1 |
resourceserver_1 | org.springframework.web.util.NestedServletException: Request processing failed; nested exception is java.lang.NullPointerException
resourceserver_1 | 	at org.springframework.web.servlet.FrameworkServlet.processRequest(Fram

[2016-04-01 11:38] nileshgamit commented on #43
Here is the log,
`resourceserver_1 | 2016-04-01 11:33:41.118  WARN 5 --- [qtp572946976-20] o.eclipse.jetty.servlet.ServletHandler   :
resourceserver_1 |
resourceserver_1 | org.springframework.web.util.NestedServletException: Request processing failed; nested exception is java.lang.NullPointerException
resourceserver_1 | 	at org.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkS

[2016-04-04 08:26] nileshgamit opened #44 "Google Fit rejects raw IP addresses in redirect URL"
We've created Google Fit app at Google developer platform. Shimmer is hosted on AWS. When user try to connect to Google Fit, the popup appears with error,

`Invalid parameter value for redirect_uri: Raw IP addresses not allowed: http://52.25.136.24:8083/authorize/googlefit/callback`

At time of setting up Shimmer, we used AWS dns as http://ec2-52-25-136-24.us-west-2.compute.amazonaws.com:8083/ and

[2016-04-04 08:41] emersonf commented on #44
Please read the thread for issue #38, specifically the updates to the `update-compose-files.sh` file.

[2016-04-04 08:54] emersonf commented on #43
The error is caused by an issue loading the configuration. We'll release a patch this week. We'll also add documentation about how to override settings without modifying the embedded `application.yaml` file, since that file is only accessible when building from source.

[2016-04-04 11:21] nileshgamit commented on #44
Hi, Thanks. It worked.

[2016-04-04 11:21] #44 closed

[2016-04-04 11:25] nileshgamit commented on #43
Ok. Thanks.

[2016-04-05 12:44] emersonf opened #45 "Update Fitbit shim to use OAuth 2.0"
Although 1.0a support has been extended to August, "[no new OAuth 1.0a client credentials will be issued](no new OAuth 1.0a client credentials will be issued)" as of this week.

[2016-04-06 09:24] emersonf commented on #43
@nileshgamit can you confirm that you're setting the SC value as

[code]

and not

[code]

?

[2016-04-07 07:29] nileshgamit commented on #45
@emersonf thanks. Is shimmer supporting OAuth 2 for FitBit? Last week, when I tried adding client id and client secret in shimmer settings, it didn't work. After going through some thread, it turned out that I need to use OAuth 1.0 client id as shimmer FitBit use it and it worked for OAuth 1 only.

[2016-04-07 08:43] emersonf commented on #45
We're ready to release it. We were actually waiting to roll it out with any update to #43, so please let us know about that issue.

[2016-04-07 09:42] nileshgamit commented on #45
Ok Thanks.

[2016-04-07 11:25] nileshgamit commented on #43
Yes. it's as below,

ihealth:
      serialValues:
        SC: value

[2016-04-07 11:30] emersonf commented on #43
Please send us a Gist with a copy of your configuration, replacing all keys (and any other sensitive information) with `placeholder` so that we can attempt to replicate the issue.

[2016-04-07 11:42] nileshgamit commented on #43
https://gist.github.com/nileshgamit/e3e90bb29f666a371e84574a7d554a08

Let me know, if you need anymore details.

[2016-04-07 13:13] emersonf commented on #43
The iHealth keys are found when I test the file locally, so the problem isn't the file structure or its contents.

I'm guessing that your `application.yaml` changes just aren't being seen. Are you running the published (Docker Hub) Docker images on AWS, i.e. following [Option 1](https://github.com/openmhealth/shimmer#option-1-download-and-run-docker-images) in the instructions, or are you building

[2016-04-07 13:45] nileshgamit commented on #43
We're trying Option 1. Will set it up as per your instructions & update you.

[2016-04-07 15:46] emersonf commented on #45
This has been released in [v0.4.4](https://github.com/openmhealth/shimmer/releases/tag/v0.4.4).

[2016-04-07 15:46] #45 closed

[2016-04-08 11:04] nileshgamit commented on #43
Hi,

Applied first option, updated docker-compose.yml. Also, pulled latest shimmer updates from Git. It's still the error. Here is the log. Going to try 2nd option & will update you.

[code]

[2016-04-08 11:19] nileshgamit commented on #43
After trying 2nd option, it's similar error. Could it be possible that, application url is non-secure? It's not https yet.

`resourceserver_1 | 2016-04-08 10:58:30.681  WARN 6 --- [qtp158658774-20] o.eclipse.jetty.servlet.ServletHandler   :
resourceserver_1 |
resourceserver_1 | org.springframework.web.util.NestedServletException: Request processing failed; nested exception is java.lang.NullPointer

[2016-04-08 11:57] nileshgamit commented on #45
I've updated oAuth 2 client ID and it's giving error, like it was giving it for iHealth. Is it possible that, our application is not on secure url yet and it's causing the issue?

[2016-04-08 12:48] emersonf commented on #45
Fitbit doesn't require TLS redirects , as shown in the [redirect table](https://github.com/openmhealth/shimmer#registering-with-third-party-apis).

[2016-04-08 13:18] emersonf commented on #43
The problem is not related to redirect URLs, but with the loading of the configuration.

As a simple smoke test that is independent of iHealth, you should be able to use these techniques to change the server port from 8083 to some other port, e.g. 10083, i.e. either by adding a `SERVER_PORT` environment variable to `docker-compose.yml` using

[code]

or alternatively, by creating an `overriding-ap

[2016-04-11 09:30] nileshgamit commented on #45
It's only working for oAuth 1.0 Client (Consumer) Key. When we updated to read OAuth 2.0 Client ID, it's no longer asking authentication and giving error. Running latest shimmer code in docker.

Can someone please update if OAuth 2.0 is working for FitBit?

[2016-04-11 09:32] nileshgamit commented on #43
You are right. It's still 8083 after changing port to 10083 and running docker-compose up command. It's latest shimmer setup using docker. Can you let us know, how we can debug further?

[2016-04-11 10:10] emersonf commented on #43
I've tested the instructions I've given in this thread, so at this point I can only assume that your environment is misconfigured or that the instructions are being applied incorrectly. If you want one-on-one help for your specific application, you can also contact us about [professional services](http://www.openmhealth.org/hire-us/).

[2016-04-11 10:10] #43 closed

[2016-04-11 10:57] emersonf commented on #40
@ralphvanetten did that take care of it?

[2016-04-11 11:25] ralphvanetten commented on #40
Sorry, I did not had the time to test it. But from looking at the documentation it seems that it would be the correct solution.

[2016-04-11 14:02] emersonf commented on #40
OK, I was just following up. Feel free to reply to this if it doesn't work for some reason and I'll reopen the issue.

[2016-04-11 14:02] #40 closed

[2016-04-26 02:49] tomsawarynski opened #48 "Fitbit Authentication Error Message"
I'm currently running a test Shimmer session via docker on a Digital Ocean Droplet and am running into the following authentication error:

"The app you're trying to connect did not provide valid information to Fitbit.  Please report the issue to them.  _Developer information:  invalid_request - Invalid redirect_uri parameter value_"

Please let me know what additional info you need to help debug.

[2016-04-26 05:24] emersonf commented on #48
Take a look at the [redirect URL table](https://github.com/openmhealth/shimmer#registering-with-third-party-apis) and confirm that you're configuring your application on dev.fitbit.com with a URL that Fitbit likes.

If that looks right, please also provide the URL of the popup.

[2016-05-25 13:14] manihatv opened #50 "Issue in accessing Runkeepr data from omh"
Hi,

I have been trying to record the data captured with my Runkeeper application using the omh. Everything was working fine till today afternoon(02:00 PM EET, 25 May, 2016). And after that, when I tried to fetch the data using the omh dashboard, I am getting the error :  "Error, could not get data from server500" .

I also tries accessing the data through URL from a custom built android applicati

[2016-05-25 13:16] emersonf commented on #50
There should be logs recording the failure. Can you paste the part of yhe
logs which shows the error please?
On 25 May 2016 3:14 p.m., "manihatv" <notifications@github.com> wrote:

Hi,

I have been trying to record the data captured with my Runkeeper
application using the omh. Everything was working fine till today
afternoon(02:00 PM EET, 25 May, 2016). And after that, when I tried to
fetch the da

[2016-05-25 13:23] manihatv commented on #50
Hi Emerson,

I was held up with the issue for the past two hours. I tried restarting the docker machine and nothing was working out.

But, I just tried accessing the site once after posting the issue here. And to my surprise, it started to work normally. Thank you so much for your time.

Thanks.

[2016-05-25 13:23] #50 closed

[2016-05-25 13:43] emersonf commented on #50
No problem, feel free to paste the logs all the same.
On 25 May 2016 3:23 p.m., "manihatv" <notifications@github.com> wrote:

[2016-05-27 09:43] manihatv opened #51 "Authorization URL returns 'null' in the JSON response"
Hi,

I am trying to authorize the access of Runkeeper app programmatically. I have created an application in the Runkeeper developers page and have my client ID, client secret keys. I am able to access the user's runkeeper data through the omh console dashboard. However, I want to authorize
the users programatically. Hence, as mentioned in the gitHub shimmer documentation page, I tried to make a G

[2016-05-27 21:08] manihatv commented on #51
Hi,

Can anyone please help me with this. My question may sound very microscopic as I am in the learning phase. A word of encouragement along with a possible solution to my query will be really helpful.

[2016-05-29 16:22] bkerensa opened #52 "Add MyFitnessPal"
Add MyFitnessPal Support

[2016-05-30 17:43] manihatv commented on #51
Hi,

Can I have some suggestions in resolving this issue please.

[2016-05-30 18:53] emersonf commented on #51
@manihatv I'll take a look tomorrow morning.

[2016-05-31 12:41] emersonf commented on #51
The `/authorize` API call returns nulls when the user is already authorized. If you de-authorize the user `test` from the console and run

[code]

you should get back a populated JSON object like

[code]

[2016-05-31 13:26] manihatv commented on #51
Thanks for the response @emersonf . I will try proceeding with the information you shared.

[2016-05-31 13:41] Gijs-Koot opened #53 "Add Microsoft Health support"
Are there any plans on integrating support for the Microsoft Health platform? The company I work for is interested in this integration. We are also looking into contributing a shim for this integration, if nothing exists yet. If so, are there any pitfalls, known issues with the Microsoft Health platform or contribution guidelines that could be useful for us to be aware of?

[2016-06-02 11:52] emersonf commented on #53
Hi Gijs,

Thanks for reaching out and offering to contribute. We've been discussing a Microsoft Health integration quite a bit, but the work hasn't started yet. The measures that the MS API supports and that we have schemas for are:

- sleep duration
- physical activity
- step count
- heart rate

So we'd be targeting the inclusion of those mappers to start off with.

I haven't dug into the API to

[2016-06-02 11:54] emersonf commented on #51
Sounds good. I'm closing this issue, but feel free to add more comments.

[2016-06-02 11:54] #51 closed

[2016-06-04 09:52] manihatv commented on #51
@emersonf The solution you suggested worked like a charm. Thank you so much for the help.

[2016-06-06 21:54] manihatv opened #55 "Accessing the open mHealth application inside containers from the Outside internet"
Hi,

I am building an Android mobile application that makes use of the open mHealth's normalised health data collected from the third party APIs. For the authorization process, the application makes a call to the open mHealth's shimmer server. However, when authorizing a user from the android device, I came to understand that there are some issues in accessing the open mHealth application from the

[2016-06-08 09:18] Groulien opened #56 "Missing activities in Fitbit activities endpoint"
The Fitbit activities endpoint does not contain all activity data.

Manually logged activities are retrieved but activities logged by trackers do not.
This is the Fitbit API being weird as stated in a [post on their forum](https://community.fitbit.com/t5/Web-API/Charge-HR-tracker-workouts/m-p/685727#U685727).

Shimmer could use [activities/log](https://dev.fitbit.com/docs/activity/#get-activity-lo

[2016-06-11 16:46] emersonf commented on #55
Hi @manihatv,

Shimmer shouldn't be publicly available since it's not secured in any way (it's just an OAuth client, not a provider). The redirect should therefore hit your application, and your application should check/sanitize the redirect and forward it to Shimmer. So Shimmer is unreachable directly from the web.

The console's nginx file does this, but without any sanitisation.

Hope that help

[2016-06-13 14:48] madprime commented on #26
I think it would be wonderful if Shimmer was adapted to expose usage of the shims, without having it manage user authorizations and token management.

I would suggest modifying the code for the `/data/{shim}/{dataType}` endpoint to optionally receives a "token" parameter rather than "username". Or perhaps create a new endpoint. Then the Shimmer server could use the token directly to get data from

[2016-06-13 15:14] manihatv commented on #55
Hi @emersonf ,

Thanks for the response. I have tried the solution you suggested but I am still going wrong somewhere. Hence, I thought of explaining the situation in detail below, so that you can have a clear picture of the issue I am facing and suggest me with some suggestions accordingly.

The primary issue I am facing here is that whenever I use an android device as emulator, I am facing issue

[2016-06-13 21:48] emersonf commented on #55
I assume you mean that the `authorizationUrl` contains `192.168.99.101` in the redirect URI parameter, correct?

If so, [this issue](https://github.com/openmhealth/shimmer/issues/38) contains a long explanation on working around that when using Docker.
If not, I'm not sure I follow, since the `authorizationUrl` itself should point to a data provider, like `https://runkeeper.com`.

[2016-06-15 15:04] afolarin commented on #42
@emersonf is there an update on HR API integration into Shimmer?

[2016-06-16 12:26] manihatv commented on #55
Hi @emersonf ,

Thank you for the suggestion. It helped me in going through some of the docker based files and helped me resolve the issue. However, I would like to know the impact of my workaround.

The work around is that, I located the file "docker-compose.yml"  and changed the value of the parameter 'OPENMHEALTH_SHIM_SERVER_CALLBACKURLBASE'  from '192.168.99.101:8083' to '{my_local_machine_IPa

[2016-06-16 12:42] emersonf commented on #55
Updating the Docker Compose file configures Shimmer to tell third-party APIs where to redirect the client to after granting access. As long as networking is set up so that the client can reach that URL, things should work.

[2016-06-16 12:42] #55 closed

[2016-06-16 12:46] manihatv commented on #55
@emersonf ,

Thank you so much for the clear explanation.

[2016-06-16 12:48] emersonf commented on #42
Our contributor @schaefba went on sabbatical shortly after that last update, ergo the silence. We'll definitely be working on it and other Shimmer work later this year, if nobody contributes it until then, and hopefully in the next two months. We also want to line up some test devices, e.g. a Fitbit Charge HR by the time we work on it.

If you have any data, code, or testing time to contribute, le

[2016-06-20 09:32] Gijs-Koot commented on #53
Hi Emerson,

Thanks for your reply. As planned, I left TNO, and I'm replying to you
along with the two colleagues that are still in the project. I believe the
plans are still on the table, allthough it may take a while to get started
due to planning. I myself will no longer be involved, and I invite Victor
or Thymen to take over the conversation. Best of luck!

-- Gijs
On Jun 2, 2016 1:52 PM, "Eme

[2016-06-21 18:56] RobertSloan opened #57 "Shimmer Setup"
In running Shimmer locally on a Mac:
Fitbit needs a callback URL.   How can the locally running Shimmer (running within Docker in a VM) export a call back URL?

[2016-06-21 23:20] RobertSloan commented on #57
The url which works is: http://192.168.99.100:8083/authorize/fitbit/callback
this url failed: http://localhost:8083/authorize/fitbit/callback
even though I forwarded ports using: docker-machine ssh default -L 8083:localhost:8083
and can browse to localhost:8083 and see the shimmer console.

**Question**:
1) How can I access the data in the Shimmer Mongo database? Either using a terminal or program

[2016-06-23 13:27] Groulien commented on #57
Concerning Mongo:
I'm a Linux user and there tend to be a lot of similarities with Mac.
I access the database through the docker container like this:
`docker exec -it <container code> mongo`
Which gives me a Mongo cli. If you' re unfamiliar with it, just type 'help' once you're in.

*However*, your authorization problem may be a different one.

**Cause**
After login, Fitbit redirects to a callback

[2016-06-23 22:46] RobertSloan commented on #57
Groulien:   Thanks for your explanation.  I now understand what Mongo is used for in Shimmer.
Originally In Installation: Option 1 - I skipped step 4 as my compose version 1.71 was > 1.5 but this step should not be skipped.
After a bit I have successfully gotten Shimmer running both locally on the Mac and on Digital Ocean.

[2016-06-23 22:46] #57 closed

[2016-06-27 15:07] kgowda opened #58 "Comparing data from multiple sources"
Hi,

My problem statement is to incentivize users based on their fitness data collected from a wide variety of sources.

The real problem: "Each of these sources have a varying level of accuracy. The same user has reported different step count on multiple apps. Likewise 2 users walking the same number of steps have different multiple readings on different sources"

How do we deal with this situati

[2016-06-27 18:03] Groulien commented on #58
Disclaimer: I am not affiliated with the developers of Shimmer.

The difference in accuracy is caused by different devices using different methods of measurement.
The difference in accuracy per person can be caused by a great deal of environmental factors.

How you deal with this difference would depend on your business case but there are three possibilities (for steps).
1. Take the average
2. Kee

[2016-06-27 20:29] RobertSloan opened #59 "Getting iHealth data"
I am trying to get data from iHealth devices.
In the shimmer Readme.md the following footnote #2 is included in the 'Registering for Third Party API's' section:
2 You'll need to copy the iHealth SC and SV values found via the application management page into the openmhealth.shim.ihealth.serialValues map of the application.yaml file.

I cant find a serialValues map any where or a application.yaml f

[2016-06-27 20:34] #59 closed

[2016-06-28 08:16] emersonf commented on #58
4. Normalize, weight, or score the data based on its source.
5. Calculate rewards based on changes per app, not across apps.

As @Groulien said, it really depends on the devices you're trying to achieve.

We use the [omh-developers](https://groups.google.com/forum/#!forum/omh-developers) Google group for higher-level discussions like this, so I'm closing this issue and suggest you move the convers

[2016-06-28 08:16] #58 closed

[2016-06-28 08:57] kgowda commented on #58
Sure. Will move the conversation there! Thanks @Groulien @emersonf

[2016-06-29 10:10] afolarin commented on #42
@emersonf we have a partnership API and some test data (Charge HR) would be happy to test.

[2016-07-01 15:06] StefanoWehmix opened #60 "OpenAPI Specification"
Hello,
have you an OpenAPI Specification or RAML file to describe your API?

Thanks,
Stefano

[2016-07-02 18:15] RobertSloan opened #61 "Shimmer Setup"
I have successfully set up fitbit and Withings.
I've setup iHealth as far as I know but when I click on iHealth in the shimmer UI nothing happens.
Is there a way to debug i.e. see what happens after iHealth is clicked.

Any suggestions?

I've edited Application.yaml as follows:
spring:
  application:
    name: Shimmer
  data:
    mongodb:
      uri: mongodb://mongo:27017/omh_dsu
  jackson:
    ser

[2016-07-07 13:32] manihatv opened #62 "Accessing the OmH normalised health data of User B from User A"
Hi,

I have a scenario here and I would like to know the possible solutions that Open mHealth can offer here in handling the scenario.

I am building an android application which will try to fetch the health data from the Runkeeper application. It makes use of Open mHealth in order to get the normalised data. Now, I have a scenario where 'Device A' (a smartphone running my android application) of

[2016-07-07 14:18] Groulien commented on #62
It can be done in a crude and insecure manner because Shimmer does not provide a security model (issue #28).
If you know the UserID, you can query any user that is registered in shimmer.
`http://<host>:8083/data/{shim}/{endPoint}?username={userId}&dateStart=yyyy-MM-dd&dateEnd=yyyy-MM-dd&normalize={true|false}`

I recommend **against** exposing shimmer to the world, because you can brute force data

[2016-07-14 10:36] ntrous opened #63 "Google Fit step count not the same as Google Fit site"
When querying for Step Count data for the current day, the value that comes back from Shimmer is not the same as whats on the Google Fit website.

I'm pretty sure this is due to the Dates not taking into account the local timezone when getting nanoseconds since the epoch.

[2016-07-15 01:02] ntrous commented on #63
I have created a pull request with my proposed fix: #64

[2016-07-24 14:33] pazdangur opened #65 "Fitbit subscription API"
Add support to list/add/remove subscriptions for Fitbit (and possibly others) for a user.

Better yet - maybe add support to handle incoming notifications and pull data on such events

[2016-08-25 13:54] StefanoWehmix opened #68 "Problem using iHealth"
Hello,
I'm trying to import data from iHealth but I have this error:

`resourceserver_1  | org.springframework.web.util.NestedServletException: Request processing failed; nested exception is java.lang.NullPointerException
resourceserver_1  |     at org.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkServlet.java:980)
resourceserver_1  |     at org.springframework.web.servlet.F

[2016-09-07 13:21] davidepiazza opened #69 "IHealth oAuth error"
Hi,
we registered an app on iHealth, and we are able to authenticate an user following the iHealth oAuth documentation via postman.
Then we configure shimmer with our API credentials (consider please that in IHealthShim.java it is hard coded the url of US region API and for other regions like EU developers need to edit the java file and rebuild, but this is not our issue).
When the user connects t

[2016-09-12 12:52] SimonFricker opened #70 "Pull in GPS data"
Can we pull in GPS data from Fitbit (and soon the Moves app)

[2016-09-12 13:16] cristiankeller commented on #69
Hi,
I'm a colleague of David Piazza
Actually we have resolved our problem. To do that, we had to change in two places:

1) We changed IHealthShim.java, set different URL

   private static final String API_URL = "https://openapi.ihealthlabs.eu/openapiv2/";
    private static final String AUTHORIZE_URL = "https://oauthuser.ihealthlabs.eu/OpenApiV2/OAuthv2/userauthorization/";
    private static fin

[2016-09-14 00:56] jenkinsDynosense opened #71 "Stuck at "Building 88% > :shim-server:bootRun""
Machine: Ubuntu 14.04 aws instance

Ran ./run-natively.sh, and it is stuck at "**> Building 88% > :shim-server:bootRun**" forever. Any solution to this problem?

Tried to access the page and it shows:
----
Whitelabel Error Page

This application has no explicit mapping for /error, so you are seeing this as a fallback.

Wed Sep 14 00:54:11 UTC 2016
There was an unexpected error (type=Not Found, sta

[2016-09-14 09:50] wwadge commented on #71
This is not a bug, gradle is "stuck" at 88% because at that point the application is running as evidenced by your last log line:
```org.openmhealth.shimmer.Application : Started Application in 9.594 seconds (JVM running for 10.632)```

in other words, it's simply waiting for the application process to terminate.

You also mentioned a 404 error but didn't specify what you're trying to load. Try loa

[2016-09-14 17:25] jenkinsDynosense commented on #71
Well noted the application started successfully.

Shimmer is running on a Ubuntu 14.04 aws instance. I didn't actually load http://localhost:8083. Instead, I used a chrome browser on my pc, and typed in http://[ip of aws instance]:8083

[2016-09-17 15:58] wwadge commented on #71
Do you see any exceptions in the log? Also did you ensure that a mongo db instance was started and reachable before the app was started?

[2016-09-19 12:13] NiekHoekstra commented on #70
As stated in the readme, Shimmer supplies information using the Open mHealth format.
At the time of writing this feature is not part of the format and would not be added to Shimmer.

Your best to get this feature is to motivate the [ohm-developers](https://groups.google.com/forum/#!forum/omh-developers) Google group to discuss this or ask for this feature at the [Open mHealth schemas](https://gith

[2016-09-21 14:50] wwadge commented on #53
Tracked in feature/add-msband-support-pr

[2016-09-21 14:50] #53 closed

[2016-09-27 12:10] miawan opened #72 "iHealth configuration problem"
Hi,

I am new to these kind of stuff, i am testing shimmer with different api, i can perfectly complete integration with fitbit e.t.c. but I m having trouble with iHealth integration, please help me on that. Documentation said "You'll need to copy the iHealth SC and SV values found via the application management page into the openmhealth.shim.ihealth.serialValues map of the application.yaml file."

[2016-09-28 07:13] wwadge commented on #71
Closing issue after reaching out on different channel. Feel free to reopen if needed.

[2016-09-28 07:13] #71 closed

[2016-10-02 16:47] MissSharp commented on #48
@emersonf Hi, I think I've done the same thing in your website, but it brings me the same problem. This is the  URL of the popup:
https://www.fitbit.com/oauth2/authorize?client_id=2282GH&redirect_uri=http%3A%2F%2F192.168.99.100%3A8083%2Fauthorize%2Ffitbit%2Fcallback&response_type=code&scope=activity+heartrate+sleep+weight&state=WcuvBX
Thanks a lot!

[2016-10-25 09:27] luistduarte opened #73 "Integration with my own App"
Hello, i want integrate omh with my own app, is it possible? For example, with my android app push data to omh. I dont want to use standard APIs like google fit or fitbit, just omh

[2016-11-01 09:37] NiekHoekstra commented on #73
**Disclaimer: I am not part of the Open mHealth organisation**
The database used by OmH is only used to store credentials.
It is a gateway to other API's and returns the information in a standardized format.
Storage of the information is not part of the project as different developers have different needs, and therefore need different solution.

[2016-11-07 16:06] samuelmgalan opened #74 "Jawbone authorization expiration date isn't 1 year? Like in their docs"
Hi!
First of all, thanks for this project. It helped me a lot.

The problem i'm facing is that I authorize the user for the Jawbone shim and I can retrieve data normally, but after some hours (sometimes one hour, sometimes 4) I try to retrieve something and I get the `401 Unauthorized` error message. And reading in the Jawbone's docs they say that the expiration date for their access token is 1 ye

[2016-11-19 14:31] ltblueberry0 commented on #69
@cristiankeller Could you please post the code for the custom subclass of HttpMessageConverterExtractor and where you applied it?

[2016-12-07 19:18] meltsner commented on #71
Had the same issue -- there appears to be a problem with the ln -sfh command in run-natively.sh  Under Oracle Linux 7 (equiv. to RHEL 7, I believe), there is no -h option to ln.

I copied the contents of the symlinked directory and it appears to work properly.  This is clearly a workaround, not a fix -- what is the -h option supposed to be doing?

[2016-12-08 02:15] meltsner commented on #74
I'm a little surprised by it being a year.  OAuth 2.0 has three different codes used for different purposes with different lifetimes; a short-lived (10 minutes) authorization code when you first authenticate yourself to the fitness service, a somewhat longer-lived access token (hours? days?), and a long-lived refresh token.

Whenever the access token expires, Shimmer should be sending the client s

[2016-12-29 21:56] mbegalevibrent opened #75 "Any word on when the "other devices in the works are expected?"
Thanks for your great work.

[2017-01-01 01:05] matt7tt commented on #48
Hi, can anyone confirm that the fitbit oauth 2.0 shim is now working, I have the same problem as above and have tried OAuth 2.0 App Types of Server and Client on the Fitbit App Register side with no luck, I always get the
"The app you're trying to connect did not provide valid information to Fitbit. Please report the issue to them. Developer information: invalid_request - Invalid redirect_uri para

[2017-01-02 23:36] emersonf commented on #48
@matt7tt I can double check, but I'm quite certain we didn't have issues with the shim up to a few weeks ago. Are you sure the _Callback URL *_ textarea on Fitbit's _Edit Application_ page contains a line that matches the `redirect_url` parameter you're sending in the authorize call?

[2017-01-03 00:08] matt7tt commented on #48
Yes I think so: http://<myhost>:8083/authorize/fitbit/callback is the URL I am using, with the Fitbit OAuth 2.0 Client ID value and Fitbit Client Secret in my Console Fitbit settings. Please let me know if these are incorrect.
Thanks,

[2017-02-06 10:21] Swapnil-Gunla commented on #43
I am also facing same problem. I have tried all the above mentioned solution, but still same error. May I know, do you guys get any success to solve it.

[2017-02-12 23:29] leoncard commented on #42
Are there any news regarding the HR?

[2017-02-16 21:24] emersonf commented on #42
@leoncard @afolarin it's implemented. We'll set up a PR for it, and target getting it in early next week.

[2017-02-20 22:39] alphazhe commented on #72
Try using without square brackets
`ihealth:
serialValues:
SC: 5e5ba9a1bae34824aaf9db2e44f8f2e4
sportSV: YOUR_SV_VALUE_FOR_THE_SPORT_ENDPOINT
bloodPressureSC: 5e5ba9a1bae34824aaf9db2e44f8f2e4
bloodPressureSV: 3306b4a70f134d0eb1a815f6db2ab015
spo2SV: 7c17d191d6d142169734bd6bb19a921e
weightSV:  abba687b4201488bb29b656a013719ad
bloodGlucoseSV:  27405c8215be4db59aa67af401083754
activitySV:  a2d48bf0f5a

[2017-02-22 09:54] luistduarte commented on #73
For it i used omh-dsu-ri repository, Sorry for my newbie question..

[2017-02-22 09:54] #73 closed

[2017-02-28 09:11] leoncard commented on #42
@emersonf Hi Emerson, thanks for replying. I am planning to use openmhealth in my research and it would be great if this feature is available. Do you have any more updates on this? Thank you.

[2017-02-28 16:55] afolarin commented on #42
many thanks @emersonf will look to see when this arrives.

[2017-03-21 05:43] bharadwajanup opened #81 "run-natively.sh fails to compile the console"
The script fails to create a symlink as it failed to process the '-l' option of the 'ln' command. Kindly take a look at the pull request created.

[2017-03-28 01:17] allen1996 opened #85 "Limitation in data query"
At the moment shimmer can only query data in days only, we can't query data in any finer details such as hour or minute. Is there any workaround to achieve that?

[2017-03-28 08:07] wwadge commented on #85
Hi,

From the docs: "Uses the daily activity summary when partner access is disabled (default) and uses intraday activity when partner access is enabled. See the YAML configuration file for details. Intraday activity requests are limited to 24 hours worth of data per request."

[2017-03-30 12:52] emersonf commented on #85
@allen1996 take a look at PR 64. It had missed my radar (sorry @ntrous). If that's what you're after, let us know. We're trying to make time for Shimmer as best we can.

[2017-04-02 05:24] CorvusVeis commented on #71
I get a Whitelabel Error Page as well, even though it's running successfully. Any solutions for this issue?

[2017-04-04 00:52] allen1996 commented on #85
Thank you @emersonf , I had a look at the commit from nitrous. Just to confirm, does it allows us to pull data from different shims with time (such as 2016-07-12T13:00:00) as query parameter.

[2017-04-26 12:21] emersonf commented on #71
@meltsner, from `man ln` on macOs:
[code]

[2017-04-26 16:41] dimChousi commented on #81
I removed the 'h' option from the 'ln -sfh' command in the script and the console is, indeed, compiled, but only the first time I do it. When I try to recompile it, I get the following error:

Any ideas how I could fix that?

thanks a lot in advance!

[2017-05-22 09:13] ZuSe opened #86 "Push endpoint"
Hi folks,

first of all I would like to thank you for the amazing project and work you do.
I really like the idea about having a standardized format for all mobile health data - especially from a developer perspective it speeds up things a lot.

We are currently providing in our app support for Withings and iHealth. In the beginning we fetched data from their api but as of today we mainly use thei

[2017-05-23 17:38] giandrea77 commented on #81
I have fixed replacing ln -sfh with this row on run-natively.sh:

ln -sf ${BASEDIR}/shim-server-ui/docker/assets public

[2017-06-13 08:47] waqaslatif88 opened #87 "UserRedirectRequiredException occurred when retrieved data from shimmer after a week for same user."
Hi, I have an application which uses shimmer server for device data retrieval and user authentication , First time authentication and retrieval working fine but after a week same user tries to retrieve data from fitbit but below exception occurred .

Scenario : First time User got authenticated and get their data and then after a week when user try to get his recent data then  UserRedirectRequired

[2017-08-11 10:42] emersonf commented on #87
@waqaslatif88 thanks for the report and sorry for the late reply. Did you make progress on this?

[2017-08-22 18:34] kmhughes opened #90 "Shimmer 0.5.0 Console not working properly (at least according to docs)"
Hi folks,

I am trying to use Shimmer 0.5.0 because I want the data endpoints support that weren't supported in earlier versions.

The console doesn't appear to work, for example I see nothing in the settings window.  Checking with the Chrome debugger and looking at the Java code, it seems some calls to the resource server, such as /registry no longer work. I also cannot see any data from register

[2017-08-22 21:34] emersonf commented on #90
@kmhughes the [release notes for 0.5.0](https://github.com/openmhealth/shimmer/releases/tag/v0.5.0) state that

```The console hasn't been updated to work with version 0.5.0 yet. Postman is the preferred way to visually exercise the API until it is updated.```

While we intend to restore the console's functionality, we have more pressing updates on our plate for Shimmer, specifically re: getting o

[2017-08-23 00:17] kmhughes commented on #90
@emersonf Ahh, very much my bad. I apologize. I was going through the README which still talks about using the console, so I unfortunately assumed it still worked. I will very definitely keep an eye on the release notes going forward now that I know to look there.

I actually figured out that I could still authenticate and access data before you posted this response. I had looked at the internal A

[2017-08-23 10:47] emersonf commented on #90
Glad you can proceed.

We should have update the README, so I'll keep this issue open until we either update the docs or restore the console functionality.

[2017-08-23 10:52] emersonf commented on #86
Hi @ZuSe,

We don't have anything on our roadmap for handling push notifications for now. Of the APIs that support push, many have different delivery guarantees  and it becomes too easy to miss data, e.g. during downtime.

If we do tackle it, we'll update the documentation and mention it in our release notes.

[2017-08-23 10:52] #86 closed

[2017-08-23 10:53] #72 closed

[2017-08-23 10:53] emersonf commented on #72
For anyone seeing this issue, please check the documentation since the configuration property names have changed.

[2017-08-23 11:11] emersonf opened #91 "Moves endpoints haven't been renamed"
The README lists the Moves endpoints as `step_count` and `physical_activity`, but they're still `steps` and `activity`.

[2017-09-08 12:44] emersonf commented on #42
This feature was merged into Shimmer 0.5.0.

[2017-09-08 12:44] #42 closed

[2017-09-21 07:36] devinhanaway commented on #48
I was having a very similar issue as @matt7tt , @MissSharp and @tomsawarynski when I logged in through the authorizationUrl. This was occurring because .env files do not need quotes around strings. By removing the quotes from the client_id and secret_key the redirection worked!

I hope this helps :)

**The error message I received:**
"The app you're trying to connect did not provide valid informat

[2017-10-01 17:15] #87 closed

[2017-10-01 17:16] emersonf commented on #87
This issue has been closed due to inactivity.

[2017-10-01 17:20] emersonf commented on #48
@devinhanaway the original issue was due to incorrect redirect URIs, not incorrect client IDs. That being said, quotes will break that. :)

[2017-10-01 17:20] #48 closed

[2017-10-01 17:20] emersonf commented on #48
This issue is being closed due to inactivity.

[2017-10-06 15:28] giandrea77 opened #92 "Shimmer 0.5.0 compiling issue"
Hello,

I followed the instructions and I'm getting this error running from bash:

* What went wrong:
Could not resolve all files for configuration ':java-shim-sdk:compileClasspath'.

  Searched in the following locations:
      file:/home/andrea/.m2/repository/org/openmhealth/schema/omh-schema-sdk/1.2.1/omh-schema-sdk-1.2.1.pom
      file:/home/andrea/.m2/repository/org/openmhealth/schema/omh-sch

[2017-10-07 08:25] emersonf commented on #70
Shimmer now pulls in geoposition data from Google Fit. I'm not aware of Fitbit providing any via its APIs. Moves support may be added down the road, but it's not something currently scheduled.

[2017-10-07 08:25] #70 closed

[2017-10-07 08:25] emersonf commented on #91
This is fixed in 0.6.0.

[2017-10-07 08:25] #91 closed

[2017-10-08 14:17] Piyush-Nagar opened #93 "No Feature of JDK 8 is used."
As the Docker file contains the image of jdk8 to pull. I have gone through all the classes, but no where we are using java 8 features. Stream. optional.

[2017-10-08 14:19] Piyush-Nagar opened #94 "Multiple DB calls with same paramters"
There are multiple call to mongo db with out change in parameters, Cant we store the previous result to reuse.

[2017-10-12 19:24] kmhughes opened #95 "Request: An AJAX response for"
At the moment, an unauthorized shim returns a 500 error code page

It would be much more helpful to return a JSON response with some sort of indicator that the shim is currently unauthorized so that it can be cleanly handled by the consumer of the response.

[2017-10-12 22:53] kmhughes commented on #95
In general, having AJAX responses for all errors, such as illegal endpoints or illegal shims would be helpful.

[2017-10-15 17:40] emersonf commented on #93
The mappers contain optionals, streams are used in Moves mappers.

[2017-10-15 17:40] #93 closed

[2017-10-15 17:50] emersonf commented on #92
@giandrea77 I forgot the manual publishing step on Bintray, sorry about that. They're published now.

[2017-10-15 17:50] #92 closed

[2017-10-20 17:02] giandrea77 opened #96 "Development environment:"
Hi,

is there a way to import and compile the shimmer project on an Ide like Eclipse or IntelliJ?

tnx,
Andrea

[2017-11-13 11:01] olivierbufalini opened #98 "Error message on Fitbit callback"

[2017-11-13 11:05] olivierbufalini commented on #98
I am trying to get shimmer working with Fitbit but every time I get this error message on Fitbit call back : {"type":"ERROR","details":"Access token denied.","accessParameters":null,"requestParameters":null}

I am testing locally on a docker image on my Mac but I have ngrok tunneling the port 8083 to my machine, it s working fine with Google Fit and Withings but I had no chance so far with Fitbit.

[2017-11-15 13:57] #98 closed

[2017-11-21 17:21] pjatinsight opened #99 "GET http://localhost:8083/registry 404 (Not Found)"
Hi,
I'm just trying to get this thing up and running to evaluate it.
Following the instructions as best I can...
Want to run it on my macbook with Docker.

- I've registered with FitBit's Api..
- Edited the resource-server.env to add in my client_id and client_secret for fitbit into
   OPENMHEALTH_SHIM_FITBIT_CLIENT_ID
   OPENMHEALTH_SHIM_FITBIT_CLIENT_SECRET
(presumably I have to remove the leadi

[2017-11-21 17:39] pjatinsight commented on #99
Ohhkk...
So I've just read another issue where a response is saying that the console doesn't actually work presently.

Grand.. so I'm concentrating on using Postman.
Could someone please clue me in on the steps to follow in postman?
I presume that after Initiate Authorisation I then need to do Process Authorisation ?

Thanks
PJ

[2017-12-16 18:44] KeithSloan opened #100 "Support for H Band2 and Aupalla BP tracker."
I have an Aupalla BP activity tracker which syncs with H Band2 on a mobile. Would love to be able to access the data via an API.

[2017-12-16 18:46] KeithSloan opened #101 "Support of Gocycle."
We have a Gocycle electric bike on order. The gocycle syncs with an app on a mobile or ios device. Would love to be able to access stats like calories burned etc via an API.

[2018-01-03 13:43] olivierbufalini opened #102 "authorizationRequestParameters isAuthorized flag"
in the Mongo DB seems like in the collection authorizationRequestParameters isAuthorized is always set to false, is it normal?

Also it seems like after sometimes the record get removed from the collection accessParameters is that related ? is there something that removes the records in that collection after say 24hours if the isAuthorized is set to false ?

[2018-01-05 16:29] emersonf commented on #102
`isAuthorized` is a transient DTO field from ages ago that made its way into the persistence model. It should get removed.

The reason accessParameters documents are sometimes deleted is that's how Spring Security OAuth 2.0 works when an access token expires and a refresh is going to be initiated. The problem is that if the refresh fails, the refresh token is gone too. I'm not sure how well SS O2

[2018-01-05 16:30] emersonf commented on #101
Does GoCycle have a web API?

[2018-01-05 16:32] emersonf commented on #100
Do they have APIs? If not, Shimmer doesn't have anywhere to pull data from.

[2018-01-05 16:40] olivierbufalini commented on #102
Ok I see, when does the refresh is initiated ? when a new request is made and the token has expired ?

[2018-01-10 18:41] shannoneobrien commented on #99
Any luck with resolving this issue? We are having the same problem with a project i am working on.

[2018-01-10 18:42] shannoneobrien commented on #98
Any luck resolving your issue? We are experiencing something similar. @olivierbufalini

[2018-01-11 07:54] pjatinsight commented on #99
Hi Shannon,
Nope, yours is the first and only response I received.
So, when I got no help at all I abandoned Shimmer and I’m just doing it myself with fitbit specific API’s.
Sorry I haven’t any better news for you.
If its any consolation the API’s that exist for javascript and/or python are relatively easy to use once you get the hang of the Oauth2 concepts.
Best Regards,
PJ

——————————————

PJ Me

[2018-01-11 08:56] olivierbufalini commented on #98
@shannoneobrien just edit that file https://github.com/openmhealth/shimmer/blob/master/shim-server/src/main/resources/application.yaml#L23 and change it with your domain name. Once it s done if you are using Docker you ll need to :
Shutdown dockers
docker-compose down

Rebuild war following changes
./gradlew build

Rebuild the Docker and start standalone process
docker-compose -f docker-compose-bu

[2018-02-13 14:38] marbetschar opened #103 "Write data from HealthKit using Granola"
How should I write/send data to shimmer using Granola to export the data from HealthKit on iOS?

[2018-02-13 14:46] marbetschar commented on #103
btw: it would be awesome to bring [Hipbone](http://www.openmhealth.org/hipbone-now-backing-up-all-your-health-data/) back to life (maybe even open source it too) and allow it to send the data to a shimmer instance, instead of saving it to DropBox.

As of now Hipbone is broken. Seems like there were some DropBox agreements changed which the developer did never accept.

[2018-02-19 12:28] umarhussain15 opened #104 "cannot load the configuration from yaml file, when running natively."
I'm deploying using ./run-natively.sh and the server is running but it cannot pick the shim configuration from yaml file for fitbit(only using fitbit).
I just uncommented the config for fitbit and placed my credentials there.

here is the log on http authorize request.
[code]

[2018-02-26 13:20] HeenaAgg opened #105 "Periodic data or data on demand"
Shimmer collects the data from different applications. So After user grant permission to access their data does shimmer collects data periodically or when we click some button on webpage/platform then data get collected in mongoDB format.

[2018-03-13 10:05] HeenaAgg opened #106 "How shimmer identifies the same user on different devices ??"
How shimmer identifies the same user on different devices ?? I meant to say if a single user is using Fitbit and Googlefit and then Fitbit will generate the unique id for the user and Googlefit generate another unique id for that user ...when data is collected in shimmer, how do shimmer know that data from Fitbit and Googlefit are from the same user. Is there any way to identify the same user ??

[2018-03-25 09:35] pratiksinghchauhan opened #107 "redirect url not changing"
Why is the redirect url always like http://localhost:8083/authorize/misfit/callback ?

 I have exprienced this in many cases, I am not hosting my shimmer application on localhost, but other server, I have also tried to change parameter OPENMHEALTH_SHIMMER_DATAPROVIDERREDIRECTBASEURL in resource-server.env , I am using commands docker compose up -d , docker compose up -d resourceserver to run the p

[2018-03-26 02:24] HeenaAgg commented on #90
Hi @kmhughes,

I m also trying to make Shimmer running. I am trying to authorize endpoints but I m unable to, redirect URL which i got back is empty and access parameters inserted into db does not contain client id and client secret, access token...these values are null.

Can you please guide how u make it running, what steps you followed.

Thanks

[2018-03-26 02:28] HeenaAgg commented on #96
Yes.... U should have Gradle from market place in your eclipse. Then import gradle project.. browse to your shimmer. It will download runtime jcenter.bintray.com dependencies and gradle.bin.zip-version. You should not be behind proxy for this. After importing -> go to Gradle task -> Application -> bootrun -> And keep your mongodb instance running. It will show up Application started

[2018-04-09 13:34] umarhussain15 commented on #107
See my pull request https://github.com/openmhealth/shimmer/pull/108

the issue in the code is that resource-server.env file has name of the variable wrong. So it picks values from application.yaml file. For docker set the values in env file as done in my PR

[2018-05-04 13:36] enridl commented on #99
same issue for me too. abandoning shimmer since looks no support, but a pity.

[2018-05-22 08:09] kkmok commented on #107
Change the environment to "OPENMHEALTH_SHIMMER_DATA_PROVIDER_REDIRECT_BASE_URL"

[2018-07-11 09:47] Dinth opened #109 "Support for Pebble and Xiaomi Mi Band"
Would it be possible to include support for data from Pebble smartwatches and Xiaomi Mi Band trackers?

[2018-08-20 16:13] soto14 opened #110 "Programatic Fitbit Authorization Fails"
I am following the Shimmer API process for programmatic authorization to the Fitbit API: https://github.com/openmhealth/shimmer#authorize-access-programmatically.

An `org.openmhealth.shim.ShimException: A request for Fitbit data has failed.` exception is thrown when calling the http://<<shimmer-host>:8083/authorize/{shimKey}/callback URL, and authorization to Fitbit with the Shimmer API fails.

T

[2018-08-23 20:27] emersonf commented on #110
@soto14 what's the cause of the exception?

[2018-08-23 21:49] soto14 commented on #110
I have a Spring Boot application with an endpoint mapped to `/authorize/{shim-key}/callback`. After authentication the Fitbit API redirects to that endpoint, which then calls the `/authorize/{shim-key}/callback?code={code}&state={state}` of the Shimmer API. The Shimmer API returns an HTTP 500 for that request.

Please let me know if this helps. I'm happy to provide any additional information. What

[2018-08-24 13:00] emersonf commented on #110
Since it works for Google Fit and not for Fitbit, it's most likely an issue with Fitbit setup. Either Fitbit credentials aren't set up properly in Shimmer, or the URLs are misconfigured on the Fitbit side. I'd try to get it working with Postman first to confirm the Fitbit side is set up.

[2018-08-29 11:55] yashb5 opened #111 "Why MongoDB?"
Shimmer uses MongoDB, why? I was not able to find any documentation which explains the purpose of MongoDB.

[2018-09-15 15:47] Grusinator commented on #99
same here, this should be fixed

[2018-09-20 17:35] soto14 commented on #110
I used Postman to trouble shoot the issue this morning. Using Postman to authorize FitBit access as described here: https://github.com/openmhealth/shimmer#authorize-access-using-postman yields an HTTP 200 response with the following JSON payload.
`{
    "type": "ERROR",
    "details": "Access token denied.",
    "accessParameters": null,
    "requestParameters": null
}`

When I use Postman to test

[2018-09-21 13:15] enridl commented on #99
abandoned too because of this.

[2018-09-24 09:31] Grusinator commented on #99
But even though the project is not active, it could really be useful to have such a tool. Any of you who have found alternative projects, or willing to share projects that handles this data integration?

Should a new project that tries to solve this be made?

[2018-09-28 14:29] drowhunter opened #112 "Client version 1.21 is too old. Minimum supported API version is 1.24"
client version 1.21 is too old. Minimum supported API version is 1.24, please upgrade your client to a newer version

when running the docker image on windows 10 in Linux container

how to fix this?

[2018-10-09 04:18] harsh90 commented on #99
Looks like the api doest have a endpoint to fetch the shimer details
Quick hack to check how it works
Overide the main.js file method
$scope.loadShims = function () {
          var googlef = {shimKey:"googlefit", label:"https://www.googleapis.com/fitness/v1/users/me/dataSources"};
          var data = [googlef];
          $scope.shims = data;

        };

run ./run-dockerized.sh
Long term fix regi

[2018-10-19 12:55] emersonf commented on #110
Can you triple check your client ID and secret are correct and in the right place in the configuration?

[2018-10-19 13:11] soto14 commented on #110
The Docker Compose file uses the openmhealth/shimmer-resource-server image and passes in an environment file for Shimmer. The environment file sets the OPENMHEALTH_SHIM_FITBIT_CLIENT_ID and OPENMHEALTH_SHIM_FITBIT_CLIENT_SECRET environment variables and sets their values to OAuth 2.0 Client ID and Client Secret listed by FitBit for the application. The values in the environment file match those fo

[2018-10-24 14:17] rohankasture opened #113 "Implement OAuth2 in Withings"

[2018-11-12 03:48] coolwebs opened #114 "Support for Samsung S Health?"
Right now I use Samsung Gear Fit Pro and it's super annoying that I cannot view/interact with my health data on a desktop. I'm investigating porting/feeding data into Google Fit or some other more flexible alternative. Is there any plans for Shimmer integration for this in the future? I'm keen on building something soon rather than waiting.

[2018-11-12 17:09] drowhunter commented on #90
Any updates on when the console will be updated. Its been a minute.

[2018-11-12 17:11] drowhunter commented on #90
I am we are having the same issue could you explain in more detail how you worked around it?

[2018-11-12 17:33] kmhughes commented on #90
I ended up writing some code that does an AJAX call to the /authorize endpoint of Shimmer when my web application is called (the server side of my app does the AJAX call to Shimmer), took the response apart to get the URL to send the user to to initiate the OAUTH. It's part of a piece of somewhat complex code, so I can't really share it.

Unless I am mistaken, the Shimmer project seems stalled out

[2018-11-12 18:13] drowhunter commented on #90
Can I see the fork?

[2018-11-12 19:11] kmhughes commented on #90
@drowhunter Unfortunately it is in a private gitlab repo, so I can't. I have considered periodically pushing a copy of the fork out, though if I do that I need to remove some stuff from the repo. There are some schemas I want to write that Shimmer doesn't support, add some shim endpoints not currently supported, etc. I thought about pushing patches to the main project, but since no one else is wor

[2018-11-12 23:13] drowhunter commented on #90
No problem I was able to get it working in the end.

On Mon, Nov 12, 2018 at 4:08 PM kmhughes <notifications@github.com> wrote:

[2018-11-13 14:11] drowhunter commented on #90
I was somewhat concerned because it seems this project is on life support atm.

[2018-11-13 20:00] kmhughes commented on #90
I agree, it seems on life support. Not committing to anything, but perhaps
we should all discuss what we want and see what kind of overlap we have.

On Tue, Nov 13, 2018, 06:11 Trevor Jones <notifications@github.com wrote:

[2018-11-30 15:17] martinbrook commented on #114
Would also like to get S Health data into this standard.

https://developer.samsung.com/health/android gives some details of what access is available

[2018-12-04 22:06] kevinquan21 opened #115 "Advice on a shim for Garmin or pointless?"
I'm going to attempt to write a shim for Garmin.  Their Health API isn't a public facing REST api but a ping/push based where you set 3rd party callback URLs to send the data back to. It's not a public facing API. I can understand why now Garmin never made it into shimmer even though it's a big name (aside from this repo being pretty inactive these days).

Can anyone perhaps give any guidance as t

[2018-12-17 16:13] soto14 commented on #110
@emersonf do you have any example projects that use Shimmer FitBit authentication? I'd just like to compare it to what I'm doing to make sure I'd using it as expected.

[2018-12-19 06:43] etheriau commented on #115
Hi--

Depending on what you are after, reach out to the FitnessSyncer.com support and tell them your use-case and they may be able to help you.  Thanks.

Eric

[2019-01-03 14:07] soto14 commented on #110
@emersonf do you have any example projects that uses Shimmer FitBit authentication? I'd just like to compare it to what I'm doing to make sure I'd using it as expected.

[2019-01-03 20:11] soto14 commented on #110
@emersonf great news. I was able to get Fitbit authentication working within my application. I had to move the authentication into a pop-up window for the application and then the process started working.

[2019-01-04 11:43] emersonf commented on #110
@soto14 glad you got it sorted out!

[2019-01-04 11:43] #110 closed

[2019-01-07 06:03] FDU-SE-LAB opened #116 "Your project openmhealth/shimmer is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-02-27 09:48] athafoud commented on #114
As I understand the integration with S Health is a little bit tricky. Samsung SDK requires that S Health is installed on the device. What I get from their documentation is that the data is accessed directly from phone storage and not through a WebAPI. But even that way you need to get you application approved by Samsung. There is also the option of the WebAPI but this it is not available publicly,

[2019-03-07 09:52] sjakupovic opened #117 "Probrem with fitbit authentication"
After successfully configuring the Google Fit shim I’ve tried to do the same with Fitbit, but I’m having trouble with authenticating the API. After being granting permission as an user and being redirected back to my localhost console page I get this json message:

`{"type":"AUTHORIZED","details":null,"accessParameters":{"id":"[my-id]","username":"user1","shimKey":"fitbit","clientId":null,"clientS

[2019-03-07 11:06] janwillemCA commented on #117
Same here

[2019-03-27 18:37] scarini commented on #117
There was a recent thread on this topic that was resolved. Have you checked it out?
https://github.com/openmhealth/shimmer/issues/110

[2019-05-07 15:31] ezulo opened #119 "Fitbit date queries outside a range of 3 years throw a 500"
I'm making a call to the shimmer to retrieve some Fitbit data for a given user. However, I'm getting this error:

`{"timestamp":"2019-05-07T14:03:08.842+0000","status":500,"error":"Internal Server Error","exception":"org.openmhealth.shim.ShimException","message":"org.springframework.web.util.NestedServletException: Request processing failed; nested exception is org.openmhealth.shim.ShimException:

[2019-06-03 11:45] haephrati commented on #23
I was also getting the same error. First make sure grunt installed locally? otherwise you may see the following message:

_Fatal error: Unable to find local grunt. If you're seeing this message, grunt hasn't been installed locally to your project. For more information about installing and configuring grunt, please see the Getting Started guide:_

The whole workaround consists of the following step

[2019-06-18 21:35] Prachimk12 commented on #110
@soto14 I am facing the same problem with fitbit authentication. Can you tell me how did you move the  authentication into a pop-up window. I am actually new to it and trying all of it out as instructed on the shimmer github post. TIA!

[2019-06-19 11:08] soto14 commented on #110
@Prachimk12 I was able to get it working by moving the login to a pop-up window. You can see how I did it here: https://github.com/gt-health/OMH-on-FHIR/blob/master/omhclient/app/components/omh-on-fhir-service/omh-on-fhir-service.js.

[2019-07-09 01:10] tmorriso5280 opened #120 "Fitbit integration"
Hello, I have been attempting to get Shimmer working for about a week now with no success.  I am trying to integrate Fitbit with my Shimmer (to start) and I can't even get that going.  I followed the ReadMe, and have created an application on fit bits developer site.  I have copied the client id and client secret into my resource-server.env file, and then I am running "sh run-dockerized.sh" (I am

[2019-07-09 02:38] tmorriso5280 commented on #120
Seems that I partially fixed the issue by modifying my client id and client secret in shim-server/src/main/resources/application.yaml.

I rebuilt using this as a guide https://github.com/openmhealth/shimmer/issues/98, and then ran on postman.  I received an authorization url which I copied into a new browser window and authenticated.  Finally I was redirected to my redirect url http://localhost:80

[2019-07-10 00:22] tmorriso5280 commented on #117
Any updates on this?  I am running into the same issue and #110 didn't quite lead me to the answer.

[2019-07-30 17:10] nejc001 opened #121 "No shims, ShimException at startup"
So i've installed Shimmer by option 1. downloaded and ran Docker image.
Entered Fitbit client_id and client_secret in resource-server.env and in application.yaml.
What i get is empty UI with search option without anything to search.
![image](https://user-images.githubusercontent.com/11994606/62149078-3d825d80-b2fb-11e9-8e02-cb09aeda397d.png)

If i try to access http://localhost:8083/authorize/fitb

[2019-08-05 18:50] nejc001 commented on #121
Duplicate #99
I've noticed that console doesn't work correctly and should use Postman to run API's, there i got it to work.

[2019-08-05 18:50] #121 closed

[2019-08-22 08:18] andreykaone commented on #109
Hey everyone. Is there any information regarding the integration of Xiaomi Mi Bands 2-3-4?

Thanks for starting this app! It would be great if it would support some popular devices!

[2019-08-22 13:25] haddadda commented on #109
hi andrey, don't think they have an api
ᐧ

On Thu, Aug 22, 2019 at 1:18 AM andreykaone <notifications@github.com>
wrote:

--
www.overlaphealth.com

[2019-08-25 16:22] andreykaone commented on #109
Hey, David! But i think we can download some data from mi account / device, parse some data and do smth with it?

[2019-08-29 00:30] haddadda commented on #109
Yes you should be. YOu can make a shim from Mi data to the OMH data format
ᐧ

On Sun, Aug 25, 2019 at 9:22 AM andreykaone <notifications@github.com>
wrote:

--
www.overlaphealth.com

[2019-10-12 09:38] #85 closed

[2019-11-10 02:50] ChristianMurphy commented on #114
https://github.com/klangenk/Samsung-Health-API

[2019-11-11 11:02] NarsunProjects commented on #71
@CorvusVeis how did you get over this Whitelabel error?

[2019-11-11 11:12] NarsunProjects opened #122 "Whitelabel Error Page"
What I get from http://localhost:8083/

This application has no explicit mapping for /error, so you are seeing this as a fallback.

Mon Nov 11 15:10:30 PKT 2019
There was an unexpected error (type=Not Found, status=404).
Not Found

Logs:
2019-11-11 13:59:43.427  INFO 9914 --- [           main] org.openmhealth.shimmer.Application      : Starting Application on mb with PID 9914 (/home/mb/workspace/s

[2019-11-12 04:44] ChristianMurphy commented on #112
Checkout https://github.com/docker/compose/issues/4106

[2020-03-14 11:29] timoteo7 commented on #109
some think like [Gadgetbridge](https://codeberg.org/Freeyourgadget/Gadgetbridge) to get data from Mi Band ?

[2020-04-14 19:55] #107 closed

[2020-08-18 10:54] ksrdj opened #124 "can we change mongo db to couchbase ?"

[2020-08-20 22:52] justinmeskan commented on #38
This question never mentioned Docker..

This is my error and i'm not using docker
Error 400: invalid_request
device_id and device_name are required for private IP: http://10.0.0.147:8888/auth/google/callback
Learn more

[2021-02-09 10:20] dmartino88 opened #125 "iHealth: access token retrival problem"
Hi All,

I'm currently testing iHealth authorization process.
1) I executed the "intiateAuthorization" rest call using postman, I got the authorizationURL and past it in a browser as described in the guide. In such a way I landed on the iHealth authorization page. I logged in and provided authorization for my application.
2) The iHealth server correctly calls the redirect_uri (..../authorize/iHeal

[2021-06-18 15:53] rasalt opened #126 "Trying to get shimmer to run on a VM natively. Unable to get the right package combo and steps"
Trying to built and run natively.
sudo apt-get install npm

Add to .bashrc

JAVA_HOME=$(dirname $( readlink -f $(which java) ))
JAVA_HOME=$(realpath "$JAVA_HOME"/../)
export JAVA_HOME

sudo npm install -g grunt-cli

Mongodb install from here
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/

Npm install

———————
1. npm install -g grunt-cli
2. npm init
   fill all details and it w

[2021-06-18 20:24] rasalt opened #127 "Trying to get postman to work with the shim"
I have the dockerized version of shimmer running.
I've configured postman
Its doing a GET on {{api-base-url}}/authorize/{{shim-key}}?username={{username}}
api-base-url is http://35.222.111.95
shim-key is fitbit
username is user1

shimmer is setup with my fitbit client id/ key etc.
I am getting this error
"Could not get any response
There was an error connecting to http://35.222.111.95/authorize/fi

[2021-06-18 23:03] rasalt commented on #127
I made a bit of progress and got this as part of the response as part of the "initiate authorization"

    "authorizationUrl": "https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=%2223B8T2%22&redirect_uri=http://localhost:80/authorize/fitbit/callback&scope=activity%20heartrate%20sleep%20weight&state=I8XSBu&prompt=login%20consent",
Pasting the url value in the browser gives me thi

[2021-06-19 12:58] rasalt commented on #127
Please advise on the authorizationUrl above.

A followup question is, do you anticipate shimmer to be used in a "pull model" alone ? i.e. applications pulling wearables data at their cadence ? fitbit provides a subscriptions API which can be used to notify applications regarding data availability and the application then makes relevant calls to pull data from the fitbit servers. I didn't find a si

[2021-06-23 16:48] walkabilly commented on #127
The repo is not dead. Thanks for contributing.
1. Working on the URL question now. Will respond when I have a good answer.
2. Pull model is correct.

[2021-07-08 12:18] Nanared1 commented on #127
Hi @rasalt, can you please confirm that the `redirect_uri` is the same **URI** configured in you Fitbit Developer dashboard? The URIs need to match, otherwise, fitbit won't return any data.

Thank you!

[2021-09-08 19:57] HimavarshaVS commented on #127
Hi
I've dockerized the application and tried to authorize an user to get data from fitbit. I tried "initiazation request" in postman setup . I received a response like which has `clientRedirectUrl : null and requestParams": {
        "redirect_url": null
    }`
I pasted the authorization url in browser which has a callback url exactly the same as configured in fitbit dev app.
I get _**Developer in

[2021-09-09 13:18] HimavarshaVS commented on #120
Hi,
By any chance did you get this resolved? I have been facing the same issue . First I wasn't even redirected to callback url . I had to modify manually to get the code. But once I received the code, the api response was all null values : `{
    "type": "ERROR",
    "details": "Access token denied.",
    "accessParameters": null,
    "requestParameters": null
}`
please let me know if you know an

[2021-09-09 13:39] walkabilly commented on #120
Hi,

Very common to have null values. Does the account you are using for testing have Fitbit data associated with it? If not you won’t will get mostly null values. This can also depend on the Fitbit device itself. Older devices might not have things like heart rate.

On Sep 9, 2021, at 10:48, Himavarsha ***@***.******@***.***>> wrote:

Seems that I partially fixed the issue by modifying my client

[2021-09-09 15:53] HimavarshaVS commented on #120
yes the account has data. I tried via fitbit debug console. I was able to fetch the data. I ran docker images after modifying resource-server.env (client id, client secret). I entered the redirect url mentioned in fitbit dev apps in OPENMHEALTH_SHIMMER_CLIENT_REDIRECT_URL. But I am getting error : `Developer information: invalid_request - Invalid redirect_uri parameter value`. Can you please guide

[2021-09-22 20:08] HimavarshaVS opened #128 "Trying to get access to user's fitbit data"
Hi,
I have been trying to get access from user by logging into user's fitbit account thereby i can land on consent page (where user can grant access to different scopes)

I changed resource-server.env file to have all required details for fitbit shim (client id, client secret).
I am always getting `The app you're trying to connect did not provide valid information to Fitbit. Please report this iss

[2021-11-28 03:50] tananga commented on #38
Any progress on this issue?

[2022-02-06 15:26] mkhaled43 opened #129 "Whitelabel Error Page for port 84 in shimmer recource server and same error for links for authentication"
I am try in to use shimmer but after deploying the container port 83 for the console is opened but recourse server is not opened and it says the following message
Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

There was an unexpected error (type=Not Found, status=404).
Not Found
if this tools are dead at least say!!! or kindly reco

[2022-02-25 14:53] reuseman commented on #109
Currently there should be APIs available [here](https://dev.huami.com/#/home)